<html>
    <head>
        <title>Isa's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 07.11.20154, 12:10</p>
            <h2><a href="">First German Post</a></h2>
            <p>Hallo, ich bin Isabel Martinez, Ich komme aus Mexico. Ich arbeite bei SSI Schaefer als IT Software Developer. Ich liebe programmier.</p>
        </div>

        <div>
            <p>published: 07.11.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is the second post, I won't tell anything relevant, have a nice day.</p>
        </div>
    </body>
</html>

